.burger__item {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #4a4a4a;
}

.burger__item:first-child {
  margin-bottom: 24px;
}

.burger__item:last-child {
  margin-bottom: 0;
}
